[Unit]
Description=Flask Web Application Server using Gunicorn
After=network.target

[Service]
User=user
Group=user
WorkingDirectory="/home/user/UML-Noun-Web/"
Environment="PATH=/home/user/UML-Noun-Web/venv/bin"
ExecStart="/home/user/UML-Noun-Web/venv/bin/gunicorn -w 3 --bind unix:/tmp/noun-web/ipc.sock wsgi:app'
Restart=always

[Install]
WantedBy=multi-user.target
