[Unit]
Description=Flask Web Application Server using Gunicorn
After=network.target

[Service]
User=user
Group=user
WorkingDirectory="/path/to/project/UML-Noun-Web/"
Environment="PATH=/path/to/project/venv/bin"
ExecStart="/path/to/project/UML-Noun-Web/venv/bin/gunicorn -w 3 --bind 127.0.0.1:8000 wsgi:app'
Restart=always

[Install]
WantedBy=multi-user.target
