.my-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    color: red;
  }
  
  .my-tooltip .my-tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .my-tooltip .my-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  .my-tooltip:hover .my-tooltiptext {
    visibility: visible;
  }

.my-tooltiptext ul
{
    list-style-type: none;
    padding-left:0;
}