{% filter indent(width=4) %}
<div class="card-header">
    Paper View of the Nouns and Synonyms
</div>
<div class="card-body">
    
{% for line in lines -%}
    
    {% for item in line -%}
        
        {%- if not item is mapping -%}
            {{- item + " " -}}
        {% else -%}
        
            {% for word, lst in item.items() %}
                {% if lst is none -%}
                    <a id="{{ word }}-tooltip" class="noun">{{ word }}</a>
                {% else +%}
                    <div id="{{ word }}-tooltip" class="my-tooltip">
                        {{ word }}
                        <div class="my-tooltiptext">
                            <ul>
                                {% for syn in lst %}
                                    <li>
                                        <a href="#{{ syn }}-tooltip" data-link="0">{{ syn }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif -%}
            {% endfor -%}
        {% endif -%}
    {% endfor -%}
    <br />
{% endfor -%}

</div>
{% endfilter %}